.nav{
    height: 150px;
    background-color: #264F36;
}

.img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 80px;
}

.Button{
    padding-left: 100px;
}

.float-right{
    position: absolute;
    right: 100px;
}