.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: purple;
    margin-top: 200px;
}

.modal-image {
    width: 600px;
    height: 800px;
    border: 2px solid black;
    border-radius: 9px;
    background-color: green;
    object-fit: none;
    object-position: center;

}
.button-section{
    background-color: blue;
    width: 600px;
    margin-left: 150px;
}

